.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(135deg, hsla(183, 62%, 45%, 1) 0%, hsla(41, 96%, 58%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(183, 62%, 45%, 1) 0%, hsla(41, 96%, 58%, 1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gridContainer{
  height:0;
  width:48%;
  padding-bottom:48%;
  background-color:rgb(243, 242, 242);
  border-radius: 3%;
  -webkit-box-shadow: inset 0px 6px 10px 5px rgba(0,0,0,0.16); 
  box-shadow: inset 0px 6px 10px 5px rgba(0,0,0,0.16);  
}

.sliderContainer{
  height:0;
  width:96%;
  padding-bottom:15%; 
}

.rightSideContainer{
  width: 50%;
  min-width: 450px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

#gridLayout {
  --c: 100;
  --cx: 50;
  --cy: 50;
  --dsize: 10;
  --dcolor: #369;
  --size: 100%;
  position: relative;
  width: var(--size);
  height: 0;
  padding-top: var(--size);
  box-sizing: border-box;
  aspect-ratio: 1/1;
  background-image:
    linear-gradient(#0000 calc(var(--cy) * 100% / var(--c) - 1px), #0008 0 calc(var(--cy) * 100% / var(--c) + 1px), transparent 0),
    linear-gradient(to right, #0000 calc(var(--cx) * 100% / var(--c) - 1px), #0008 0 calc(var(--cx) * 100% / var(--c) + 1px), transparent 0),
    repeating-linear-gradient(#0002 0 0.5px, #0000 0 calc(100% / var(--c) - 0.5px), #0002 0 calc(100% / var(--c))),
    repeating-linear-gradient(to right, #0002 0 0.5px, #0000 0 calc(100% / var(--c) - 0.5px), #0002 0 calc(100% / var(--c)));
  border-radius: 3%;
}

.gridLayout.no-overflow {
  overflow: hidden;
}

.nodeInfoContainer{
  min-height: 212px;
  width:96%;
  background-color:#F4F4F4;
  border-radius: 5%;
  -webkit-box-shadow: inset 0px 6px 10px 5px rgba(0,0,0,0.16); 
  box-shadow: inset 0px 6px 10px 5px rgba(0,0,0,0.16);
  color: 'black';
}

.nodeTitle{ 
  font-Family: 'Avenir'; 
  font-size: 30; 
  font-weight: bold;
  margin-top: 10px; 
  text-align: left;
  margin-left: 15px;
  width: 100%;
  color: black;
  animation: pulse 0.5s ;
}

.nodeInfoFlexContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  
}

.nodeTimedInfoFlexContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-left: 15px;
  margin-top: 10px;
  text-align: left;
  color: black;
  font-Family: 'Avenir'; 
  font-size: 20px; 
  animation: pulse 0.5s ;
}

.pulseAni{
  animation: pulse 0.5s ;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		color: #000000;
	}

	70% {
		transform: scale(0.95);
		color: #3d3d3d;
	}

	100% {
		transform: scale(1);
		color: #000000;
	}
}